{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
    <h2>Welcome to HyperJob!</h2>
    <div class="link"><a href="/login">Login page</a></div>
    <div class="link"><a href="/signup">Sign up page</a></div>
    <div class="link"><a href="/vacancies">Vacancy list</a></div>
    <div class="link"><a href="/resumes">Resume list</a></div>
    <div class="link"><a href="/home">Personal profile</a></div>
</body>
</html>